<app-header></app-header>


<div class="container-fluid head">
    <h1>List of Orders</h1>
</div>
<div class="container-fluid ntable">
    <div class="pad">
        <select class="form-select float" (change)="onChangeBuyClient($event)">
            <option>All</option>
            <option value="{{c.clientid}}" *ngFor="let c of clients">{{c.clientid}}</option>
        </select>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Buyer Order ID</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of selectedClientBuyOrders">
                <td>{{t.bid}}</td>
                <td>{{t.price}}</td>
                <td>{{t.quantity}}</td>
                <td>{{t.price*t.quantity}}</td>
                <td>{{t.status}}</td>
            </tr>
            
        </tbody>
    </table>
</div>
<div class="container-fluid ntable">
    <div class="pad">
    <select class="form-select float" (change)="onChangeSellClient($event)">
        <option>All</option>
        <option value="{{c.clientid}}" *ngFor="let c of clients">{{c.clientid}}</option>
    </select>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Seller Order ID</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of selectedClientSellOrders">
            <td>{{t.sellid}}</td>
            <td>{{t.price}}</td>
            <td>{{t.quantity}}</td>
            <td>{{t.price*t.quantity}}</td>
            <td>{{t.status}}</td>
        </tr>
    </tbody>
</table>
</div>