<div class="container">
        <div class="row">
                <div class="col">
                        <legend>Bar Graph - BUY</legend>
                        <table class="graph">
                                <thead>
                                        <tr>
                                                <th scope="col">Clients</th>
                                                <th scope="col">Quantity</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let c of clients" >
                                                <th></th>
                                                <!-- <th scope="row">{{c[0]}}</th>
                                                <td><span>{{c[1]}}%</span></td> -->
                                        </tr>
                                </tbody>
                        </table>
                </div>
                <div class="col">
                        <legend>Bar Graph - SELL</legend>
                        <table class="graph graph2">
                                <thead>
                                        <tr>
                                                <th scope="col">Clients</th>
                                                <th scope="col">Quantity</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr style="height:95%">
                                                <th scope="row">DBS001</th>
                                                <td class="new"><span>85%</span></td>
                                        </tr>
                                        <tr style="height:63%">
                                                <th scope="row">DBS001</th>
                                                <td class="new"><span>23%</span></td>
                                        </tr>
                                        <tr style="height:7%">
                                                <th scope="row">DBS001</th>
                                                <td class="new"><span>7%</span></td>
                                        </tr>
                                        <tr style="height:38%">
                                                <th scope="row">DBS001</th>
                                                <td class="new"><span>38%</span></td>
                                        </tr>
                                        <tr style="height:35%">
                                                <th scope="row">DBS001</th>
                                                <td class="new"><span>35%</span></td>
                                        </tr>
                                        <tr style="height:30%">
                                                <th scope="row">DBS001</th>
                                                <td class="new"><span>30%</span></td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
        </div>
</div>
